<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Errudite: An Interactive Tool for Scalable and Reproducible  Error Analysis</title>
    </head>
    <body>
        <div id="ui-container"></div>

        <!-- Dependencies -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <!-- Main -->
        <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    </body>
</html>
